//variables
$brkpntMobile: 480px;
$brkpntTablet: 768px;
//mixins
@mixin textStyles {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

//Styles
img {
    width: 50%;
}
  
    
    // media queries
  
