.content {
  display: block; }

.wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: block; }
  .wrapper video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover; }
  .wrapper .text-style {
    display: float;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    height: 100% !important; }
    .wrapper .text-style .top-nav div img {
      padding: 5px;
      width: 15%;
      height: auto;
      text-align: center; }
    .wrapper .text-style .bottom-nav {
      align-items: end; }
      .wrapper .text-style .bottom-nav a .plus .add {
        font-size: 0.575rem !important; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none;
    color: #fff; }

.social-media-links {
  margin: 0;
  background-color: grey;
  display: none;
  height: 100px;
  padding: 0; }
  .social-media-links ul {
    padding-left: 0;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    list-style-type: none;
    text-align: center;
    overflow: hidden; }
    .social-media-links ul li {
      display: inline;
      color: white;
      font-family: 'Courier New', Courier, monospace;
      font-size: 1.2rem;
      padding-right: 10px;
      padding-left: 10px; }

@media screen and (max-width: 768px) and (max-width: 480px) {
  .text-style .top-nav div img {
    padding: 5px;
    width: 100px !important;
    height: auto; } }

/*# sourceMappingURL=stylesheet.css.map */
