//variables
$brkpntMobile: 480px;
$brkpntTablet: 768px;
//mixins
@mixin textStyles {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

//Styles
img {
    width: 30%;
}
  
    
    // media queries
  
@media screen and (max-width: $brkpntMobile) {
    img {
        width: 80px;
        padding-top: .5rem;
    }
}