
/*.............................   
        //variables
..............................*/
$brkpntMobile: 480px;
$brkpntMobileMini: 320px;
$brkpntTablet: 768px;

/*.............................
            mixins
..............................*/

@mixin textStyles {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

//Styles
img {
    width: 30%;
}
  
    
    // media queries
  
@media screen and (max-width: $brkpntMobile) {
    img {
        width: 80px;
        padding-top: .5rem;
    }
}

@media screen and (max-width: $brkpntMobile) {

    .social-media-links {
        ul {
            padding-left: 2.5rem;
        }
    }

}

@media screen and (max-width: $brkpntMobileMini) {

    .social-media-links {
        ul {
            padding-left: 2rem;
        }
        i {
            font-size: 1rem;
        }
    }

}